<div class="detail_window">
    <div class="logo_container">
        <img class="logo_img" src="../../assets/LogoKlionSmall.png" alt="small logo">
    </div>
    <div class="detail-body">
        <div class="detail-data">
            <div class="task-title">
                ВИКОНАТИ ЗАДАЧУ 000028859 ВІД 07.07.2023 9:29
            </div>
            <div class="dataline">
                <img src="../../assets/icons/clock/default.png" alt="clock">
                28.07.2023  09:29
            </div>
            <div class="content">
            <div class="contact-name">
                Ініціатор: <span> Некрашевич Інна Анатоліївна</span> 
            </div>
            <div class="task-desc">
                Опис задачі:
                <p>Надати оригінал договору. Договір №13561 від (0000-3633)</p>
            </div>
            </div>
            
        </div>
    </div>
    <div class="control-buttons">
        <button class="accept-button">ВИКОНАТИ</button>
    </div>
</div>