
#container-modal {

    position: fixed;
    inset: 0;

    /* z-index must be higher than everything else on the page */
    z-index: 10000;

    /* semi-transparent black background exposed by padding */
    background-color: rgba(0, 0, 0, .75);
    padding: 40px 20px;

    /* enables scrolling for tall modals */
    overflow: auto;

    .modal-body {
        margin-top: 50px;
        padding: 10px;
        background: #F1F1F1;
        border-radius: 15px;

        #cancel-icon{
            display: flex;
            margin-left: 94%;
            justify-content: flex-end;
            color: #014289;
        }
    }

    

    .modal-data {
        font-family: 'Montserrat';
        font-style: normal;


        .contact-name {
            font-weight: 600;
            font-size: 18px;
            line-height: 120%;
            color: #014289;

            flex: none;
            order: 0;
            flex-grow: 0;
        }

        .work-title {
            margin-top: 9px;
            font-weight: 300;
            font-size: 12px;
            line-height: 100%;

            color: #4F4F4F;
        }

        .phones-list {
            margin-top: 22px;

            background-color: #ffff;
            border-radius: 15px;
        }

        .phone {
            border-bottom: 1px solid #EAEAEA;
            padding: 10px;
            


            .phone-title {
                margin-top: 5px;
                font-weight: 300;
                font-size: 12px;
                line-height: 100%;

                color: #4F4F4F;
            }
            
            .phone-number{
                margin: 5px 0px;

                font-weight: 500;
                font-size: 14px;
                line-height: 100%;

                color: #6295CC;
            }
        }
    }


}