<div id="container-modal">
    <div class="modal-body">
        <span>
            <button id="cancel-icon"  (click)="hideModalFn()">
                <img src="../../assets/icons/close/default.png" alt="cross">
        </button>
        </span>
        <div class="modal-data">
            <div class="contact-name">
                {{currentContact.FullName}}
            </div>
            <div class="work-title">
                {{currentContact.Position}}
            </div>
            <div class="phones-list">
                <div class="phone" *ngFor="let phoneItem of currentContact.ContactInfo">
                    <div class="phone-title">
                        {{phoneItem.Type}}
                    </div>
                    <div class="phone-number">
                        <a href="tel:{{phoneItem.Telephone}}">{{phoneItem.Telephone}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>