<div class="main_vindow">
    <div class="logo_container">
        <img class="logo_img" src="../../assets/LogoKlionSmall.png" alt="small logo">
    </div>
    <div class="cards_container">
        <div class="card_item">
            <div class="dataline">
                <i class="fa fa-clock"></i>
                28.06.2023 12:00
            </div>
            <div class="cardtitle">
                Утвердить счет на оплату поставщику
            </div>
            <div class="cardbody">
                <div class="counteragent">
                    Контрагент: АТБ.
                </div>
                <div class="sum">
                    Сумма: 3 000 000,00 грн
                </div>
            </div>
            <div class="createdata">
                <div class="author">
                    Кондратский Андрей
                </div>
                <div class="createdate">
                    28.06.2023 12:00
                </div>
            </div>

        </div>
    </div>
</div>