<div class="main_vindow">
    <div class="logo_container">
        <img class="logo_img" src="../../assets/LogoKlionSmall.png" alt="small logo">
        <input type="button" (click)="logout()">
    </div>
    <div *ngFor="let taskItem of tasks"  class="cards_container">
        <div  class="card_item">
            <div class="dataline">
                <i class="fa fa-clock"></i>
                {{taskItem.expDate}}
            </div>
            <div class="cardtitle">
                {{taskItem.title}}
            </div>
            <div class="cardbody">
                <div class="counteragent">
                    {{taskItem.counteragent == undefined ? taskItem.counteragent : taskItem.comment}}
                </div>
                <div class="sum">
                    {{taskItem.sum}}
                </div>
            </div>
            <div class="createdata">
                <div class="author">
                    {{taskItem.author}}
                </div>
                <div class="createdate">
                    {{taskItem.createDate}}
                </div>
            </div>

        </div>
    </div>
</div>