.contacts_container {
    width: 100%;
}


.input_box {
    margin: 15px;
    height: 30px;
}


.input-item {
    position: absolute;
    left: 30px;
    transform: translateY(45%);
}

.form-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 50px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #014289;

    outline: none;
    border: 1px solid #014289;

    border-radius: 15px;
}

#clear {
background: #ffff;
border: none;

    position: absolute;
    right: 30px;
    transform: translateY(35%);
}

.search-glass{
    position: absolute;
    left: 30px;
    transform: translateY(25%);
}

.contact-list {
    display: grid;
}

.contact-item {
    vertical-align: middle;
    height: 2em;
    padding-top: 4px;
    padding-left: 4%;
    border-bottom: 1px solid #BDBDBD;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2em;

    color: #4F4F4F;
}