<div class="contacts_container">
    <div class="input_box">
        <span class="input-item">
            <i class="fa fa-magnifying-glass" style="color: #014289;"></i>
        </span>
        <span>
            <i class="fa-regular fa-x" aria-hidden="true" type="button" id="clear"  (click)="clearSearchInput()"></i>
        </span>
        <input class="form-input" type="text" placeholder="Поиск" #srchinput id="srch" name="search" [(ngModel)]="searchString" (ngModelChange)="searchFunction($event)">
        
    </div>
    <div class="contact-list">
        <div *ngFor="let contact of filtredContacts" class="contact-item"  (click)="showModal(contact)">
            {{contact.fullName}}
        </div>
    </div>
</div>

<app-modal-contacts *ngIf="modalState" [currentContact]="modalService.currentContact"></app-modal-contacts>
