<div class="contacts_container">
    <div class="input_box">
        <span class="search-glass">
            <img src="../../assets/icons/serach/default.png" alt="glass">
        </span>
        <span>
            <span>
                <button id="clear"  (click)="clearSearchInput()">
                    <img src="../../assets/icons/close/default.png" alt="cross">
            </button>
            </span>
        </span>
        <input class="form-input" type="text" placeholder="Пошук" #srchinput id="srch" name="search" [(ngModel)]="searchString" (ngModelChange)="searchFunction($event)">
        
    </div>
    <div class="contact-list">
        <div *ngFor="let contact of filtredContacts" class="contact-item"  (click)="showModal(contact)">
            {{contact.FullName}}
        </div>
    </div>
</div>

<app-modal-contacts *ngIf="modalState" [currentContact]="modalService.currentContact"></app-modal-contacts>
