<div class="contacts_container">
    <div class="input_box">
        <span class="input-item">
            <i class="fa fa-magnifying-glass"></i>
        </span>
        <span>
            <i class="fa-regular fa-x" aria-hidden="true" type="button" id="clear"></i>
        </span>
        <input class="form-input" type="text" placeholder="Поиск" id="srch" name="search">

        <!--      Show/hide password  -->
        
    </div>
    <div class="contact-list">
        <div class="contact-item">
            Абасова Оксана Васильевна
        </div>
        <div class="contact-item">
            Абасова Оксана Васильевна
        </div>
        <div class="contact-item">
            Абасова Оксана Васильевна
        </div>
        <div class="contact-item">
            Абасова Оксана Васильевна
        </div>
        <div class="contact-item">
            Абасова Оксана Васильевна
        </div>
        <div class="contact-item">
            Абасова Оксана Васильевна
        </div>
        <div class="contact-item">
            Абасова Оксана Васильевна
        </div>
        <div class="contact-item">
            Абасова Оксана Васильевна
        </div>
        <div class="contact-item">
            Абасова Оксана Васильевна
        </div>
        <div class="contact-item">
            Абасова Оксана Васильевна
        </div>
        <div class="contact-item">
            Абасова Оксана Васильевна
        </div>
        <div class="contact-item">
            Абасова Оксана Васильевна
        </div>
        <div class="contact-item">
            Абасова Оксана Васильевна
        </div>
        <div class="contact-item">
            Абасова Оксана Васильевна
        </div>
        <div class="contact-item">
            Абасова Оксана Васильевна
        </div>
    </div>
</div>
