@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.contacts_container {
    /* display: flex; */
    width: 100%;
}


.input_box {
    margin: 15px;
    height: 30px;
}


.input-item {
    position: absolute;
    left: 20px;
    transform: translateY(50%);
}

.form-input {
    width: 88%;
    height: 100%;
    padding-left: 50px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #014289;

    outline: none;
    border: 1px solid #014289;

    border-radius: 15px;
}

#clear {
    color: #333;
    position: absolute;
    right: 20px;
    transform: translateY(50%);
    /* margin-left: -45px;
    padding: 10px 10px 0px 0px;
    border-radius: 5px;

    float: right;
    position: relative;
    right: 1%;
    top: -.2%;
    z-index: 5;

    cursor: pointer; */
}

.contact-list {
    display: grid;
}

.contact-item {
    vertical-align: middle;
    height: 2em;
    padding-top: 4px;
    padding-left: 4%;
    border-bottom: 1px solid #BDBDBD;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2em;

    color: #4F4F4F;
}