<div class="navbar navbar-default">
    <ul class="nav">
        <li>
          <a routerLink="/home/card" target = "_self">
            <img src="../../assets/icons/home/home active.png" alt="home">
            <div class = "title">Главная</div>
          </a>
        </li>
        
        <li>
          <a href="/home/contacts" target = "_self">
            <img src="../../assets/icons/phone/phone dark blue.png" alt="phone">
            <div class = "title">Контакты</div>
          </a>
        </li>
        
        <li>
          <a href="home/profile" target = "_self">
            <img src="../../assets/icons/user/user active.png" alt="profile">
            <div class = "title">Профиль</div>
          </a>
        </li>
      
      </ul>
</div>