<div class="main_div">
    <div class="logo_container">
        <img class="logo" src="../../assets/LogoKlion.png" alt="Klion Logo">
    </div>
    <div class="forms_container">
        <form>
            <div class="con">
                <div class="input_box">
                    <span class="input-item">
                        <i class="fa fa-phone"></i>
                    </span>
                    <input class="form-input" id="txt-input" type="text" placeholder="+38(0)" required>
                </div>

                <div class="input_box">
                    <span class="input-item">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input class="form-input" type="password" placeholder="Password" id="pwd" name="password" required>

                    <!--      Show/hide password  -->
                    <span>
                        <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i>
                    </span>
                </div>
                <button class="log-in"> УВІЙТИ </button>
            </div>
        </form>
    </div>
</div>