<div class="detail_window">
    <div class="logo_container">
        <img class="logo_img" src="../../assets/LogoKlionSmall.png" alt="small logo">
    </div>
    <div class="detail-body">
        <div class="detail-data">
            <div class="task-title">
                УЗГОДИТИ РАХУНОК НА ОПЛАТУ ПОСТАЧАЛЬНИКА №0030414 ВІД 21.06.2023.
            </div>
            <div class="dataline">
                <img src="../../assets/icons/clock/default.png" alt="clock">
                01.07.2023 15:30
            </div>
            <div class="content">
            <div class="contact-name">
                Відповідальний: <span> Малик Наталія Юріївна</span> 
            </div>
            <div class="invoice-sourse">
                Постачальник: <span> ТОВ Розумний Дім </span>
            </div>
            <div class="payment-form">
                Форма оплати: 
                <span> 
                    безготівковий розрахунок, р/р організації - Пумб Альбатрос, грн.
                </span>
            </div>
            <div class="payment-purpose">
                Призначення платежу: 
                <span> 
                    Оплата за послуги зг. Рах №0030414 від 21.04.2023. Всього 1230,00 грн. ПДВ (в т. ч.): 163,40 грн
                </span>
            </div>
            <div class="comment">
                Коментар:
                Реєстр 17 тижня
            </div>
            </div>

            <div class="table-reciept">
                <table>
                    <thead>
                        <tr>
                            <th>
                                №
                            </th>
                            <th>
                                Товари/послуги
                            </th>
                            <th>
                                Сума до оплати
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                Річна ліцензія програмного комплексу 
                            </td>
                            <td>
                                1230.00 грн
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="control-buttons">
        <button class="reject-button">ВІДХИЛИТИ</button>
        <button class="accept-button">УЗГОДИТИ</button>
    </div>
</div>