<div class="detail_window">
    <div class="logo_container">
        <img class="logo_img" src="../../assets/LogoKlionSmall.png" alt="small logo">
    </div>
    <div class="detail-body">
        <div class="detail-data">
            <div class="task-title">
                {{currentVacation?.AgreeStatys}}
            </div>
            <div class="dataline">
                <img src="../../assets/icons/clock/default.png" alt="clock">
                {{currentVacation?.deadlineDate }}
            </div>
            <div class="content">
            <div class="contact-name">
                Співробітник: <span> {{currentVacation?.HolidayMayker}} </span> 
            </div>
            <div class="vacation-type">
                Вид відпустки:  <span> щорічна</span>
            </div>
            <div class="vacation-time">
                Період відпустки:  з {{currentVacation?.PeriodStart}} по {{currentVacation?.PeriodEnd}}
            </div>
            <div class="replace-name">
                Заміщаючий: {{currentVacation?.Substitutional}}
            </div>
            <div class="comment">
                Коментар:
                {{currentVacation?.TaskInfo}}
            </div>
        </div>
            
        </div>
    </div>
    <div class="control-buttons">
        <button class="reject-button" (click)="RejectButtonClick()">ВІДХИЛИТИ</button>
        <button class="accept-button" (click)="AcceptButtonClick()">УЗГОДИТИ</button>
    </div>
</div>