<div class="detail_window">
    <div class="logo_container">
        <img class="logo_img" src="../../assets/LogoKlionSmall.png" alt="small logo">
    </div>
    <div class="detail-body">
        <div class="detail-data">
            <div class="task-title">
                УЗГОДИТИ ВІДПУСТКУ
            </div>
            <div class="dataline">
                <img src="../../assets/icons/clock/default.png" alt="clock">
                01.07.2023 15:30
            </div>
            <div class="contact-name">
                Співробітник: <span> Понікаров Олег Миколайович</span> 
            </div>
            <div class="vacation-type">
                Вид відпустки:  <span> щорічна</span>
            </div>
            <div class="vacation-time">
                Період відпустки: з 25.06.2023 по 27.06.2023
            </div>
            <div class="replace-name">
                Заміщаючий: Рубан Ярослав Генадійович
            </div>
            <div class="comment">
                Коментар:
                Прошу надати щорічну відпустку
            </div>

            
        </div>
    </div>
    <div class="control-buttons">
        <button class="reject-button">ВІДХИЛИТИ</button>
        <button class="accept-button">УЗГОДИТИ</button>
    </div>
</div>